*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
}
.shop_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f0e2e5;
}

.shop_text h1{
    font-size: 55px;
    font-weight: bolder;
}
.shop_text p{
    font-size: 15px;
    padding: 15px;
    padding-left: 6px;
    color:  rgb(141, 139, 139);
}
.shop_img img{
    width: 400px;
}
.shopbtn{
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    padding: 5px;
    color: white;
    
}
.featured{
    text-align: center;
    padding: 100px;
}
.featured h1{
    font-size: 70px;
    font-weight: bolder;
    font-size: xx-large;
}
.flower_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
}
.flowerimg1{

    background-color: #daccd3;
    border-radius: 190px 190px 0 0;
    width: 320px;
    height: 350px;
    padding: 35px;

}
.flowerimg2{

    background-color: #cfe9eb;
    border-radius: 190px 190px 0 0;
    width: 320px;
    height: 350px;
    padding: 35px;
    padding-left: 20px;

}
.flowerimg3{

    background-color: #dbe2d3;
    border-radius: 190px 190px 0 0;
    width: 320px;
    height: 350px;
    padding: 35px;
    padding-left: 20px;

}
.flower{
    width: 290px;
    height: 350px;
    padding: 36px;

}
.flowerp{
    text-align: center;
    padding: 5px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}
.featured h1{
    font-size: 30px;


}
.featured p{
    padding: 29px;
    color:  rgb(141, 139, 139);
}



.service{
    display: flex;
    padding: 90px;
    
    align-items: center;
    justify-content: space-around;
    height: 10px;
    width: 800px;
    /* border: 5px solid rgb(60, 0, 212); */
    border-radius: 7px;
    background-color: rgb(247, 244, 244); 
    margin-left: 20%;
    margin-top: 185px;
}
.service p{
    width: 242px;
    padding: 1px;


}
.serviceimg{
    padding-left: 80px;
}
.servicesupport{
    padding-left: 30px;
   
}


.deal{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: #f0e2e5;
    margin-top: 90px;
    height: 480px;
}

.dealbtn{
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    padding: 5px;
    color: white;
    margin-left: 195px;
    margin-right: 180px;
    margin-top: 20px;
}
.deal_img img{
    padding: 50px;
    height: 350px;
}

.deal h1{
    font-size: 30px;
}

.deal h1 >span{
    color:#E55473
}
.deal p{
    color: rgb(141, 139, 139);
    margin-top: 14px;
}
.dp2{
    text-align: center;
}
.insta{
    text-align: center;
    margin: 50px;

}
.insta h1{
    padding: 5px;
    font-size: 70px;
    font-weight: bolder;
    font-size: xx-large
}
.insta p{
    padding-top: 15px;
    color: rgb(141, 139, 139);
    text-align: center;
    
}
.insta p > span{
    margin: 5px;
}

.instapic{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 160px;
    margin-right: 180px;
    
}
.instapic1{
    padding: 15px;
    margin: 15px;
    width: 300px;


}
.search_section{
    margin:70px;
    margin-left: 70px;
    margin-right: 50px
}
.search{
    text-align: center;
    padding: 40px;
    height: 300px;
    background-image: url("../images/Rectangle9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.search h1{
    margin-top: 70px;
    padding: 15px;
}
.search p{
    color: rgb(141, 139, 139);
    
}

.search input{
    margin-top: 50px;
    width: 500px;
    height: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
   border-radius: 7px;
   border: none;

    
}
.searchbtn{
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    padding: 5px;
    color: white;
    margin-left: 15px;
    margin-top: 20px;
}
footer{
    text-align: center;
    background-color: black;
    height: 350px;
}

footer h1{
    padding-top: 100px;
    color: white;

}
footer h1 > span{
    color: #E55473;
}

footer p{
    color: white;
    padding-top: 20px;
    font-size: 13px;
}  

.small{
    margin-top: 20px;
    color: rgb(141, 139, 139);
}



/* .flowerdiv{
    display: flex;
} */
